$form__element_height: 42px
    
   
@mixin form_element_base
    outline: none
    color: white
    background: none
    text-decoration: none
    box-shadow: none
    -webkit-box-shadow: none

@mixin form_block
    width: 80%
    margin: 7px
    height: $form__element_height


@mixin round_element($radius)
    height: $radius;
    width: $radius;
    border-radius: 50%

.form
    display: flex
    flex-flow: column wrap
    align-items: center
    padding: 25px 

// .form__field
//     @include form_element_base
//     height: $form__element_height
//     width: 100%
//     border:none
//     background-color: Transparent
//     border: 2px solid rgba(255, 255, 255, 0.35)
//     text-align: center
//     font-size: 1.20em
//     -o-text-overflow: ellipsis
//     -ms-text-overflow: ellipsis
//     text-overflow: ellipsis
//     display: flex



// .form__error 
//     @include round_element($form__element_height - $form__element_height/5)
//     @include centered-dialog
//     position: absolute
//     // transform: translateX(-$form__element_height)
//     background: red
//     font-size: 2em

.form__container
    @include form_element_base
    @include form_block
    display: flex

.form__container--space-between
    justify-content: space-between




.form__button
    @include form_element_base
    height: $form__element_height
    min-width: 200px;
    border: solid
    border-width: 2px
    background-color: Transparent
    text-transform: uppercase
    font-weight: 700
    letter-spacing: 0.20em
    // cursor: pointer

.form__button--round
    border-radius: $form__element_height/2

.form__button:disabled
    opacity: 0.2
    // cursor: auto;

.form__header 
    @include form_element_base
    height: 150px
    width: 100%
    
.form__action 
    @include form_element_base
    text-transform: uppercase
    font-size: .65em
    letter-spacing: 0.11em
    opacity: 0.7

.form__switch
    width: 50px;
    height: 24px;

.form__reference
    text-decoration: underline
    cursor: pointer
    display: flex
    align-items: center

.form__bottom
    margin-top: 20px
    margin-bottom: 20px











