@import 'common.sass'

.login-dialog 
    @include centered-dialog
    height: 100vh

.login-dialog__form
    border-radius: 6px
    min-width: 320px
    min-height: 260px
    max-width: 620px
    max-height: 420px
    width: 100%
    box-shadow: 0px 0px 30px 12px rgba(0, 0, 0, 0.20)